.color-font-primary {
    color: #696cff !important;
}
.color-font-primary-1 {
    color: #697a8d !important;
}
.color-bg-primary {
    background-color: #696cff !important;
}
.deskripsi-container * {
    text-align: justify !important;
}
.custom-popup {
    min-width: 450px;
}
